* {
  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: none;
  list-style: none;
  text-decoration: none;
  color: black;
  margin: 20px 20px;
}

/* header with timer and link to High Scores */
.header-text {
  display: flex;
  justify-content: space-between;
  color: black;
  font-size: 1em;
  text-align: center;
 }

/* link to high scores page */
.high-score-link {
  color: black;
  border-style: solid;
  border-radius: 5px;
 padding: 5px 5px;
  border-color: rgb(99, 175, 131);
}

/* title of game */
.large-font {
  font-size: 3em;
  text-align:center;
  padding-bottom: 20px;
}

/* text for description of game */
.intro-text {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1.45em;
}

/* styles for button */
button {
  background: rgb(162, 209, 182);
  border-radius: 8px;
  color: #13293d;
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 0.2px;
  line-height: 16px;
  max-width: 2250px;
  padding: 20px 70px;
  text-align: center;
  transition-duration: 0.15s;
  transition-timing-function: linear;
 
}

button:hover {
  background-color: rgb(99, 175, 131);
}

/* styles for start button */
.big-button {
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
  font-size: 1.7em;
}

/* styles for header */
.header-text {
  display: flex;
  justify-content: space-between;
  color: black;
  font-size: 1em;
  text-align: center;
}

/* styles for container answer option buttons are in */
.question-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

.question_text {
  display: flex;
  justify-content: center;
  
}

.button-grid {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* at end of game input area to save High Score */
.initials-field {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* hides buttons with this class */
.hide {
  display: none;
}
